.button {
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 25px;
	border-color:$color-white;
	background-color: $color-white;
	text-align: center;
	margin-left: 550px;
	margin-top: 50px;

	animation-name: moveinbottom;
	animation-duration: 3s;
	transition: ease-in-out;
}

.btn {
    &:link,
    &:visited {
	    text-decoration: none;
	    transition: all .2s;
	    position: relative;
    }

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
	}

		&:active {
			transform: translateY(-1px);
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		}

		&--white {
			background-color: $color-white;
			color: $color-grey-dark;

            &::after {
            content:"";
			box-sizing: border-box;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 195px;
			padding-right: 40px;
			border-radius: 25px;
			border-color:$color-white;
			background-color: $color-white;
			margin-left: -195px;
			margin-top: -5px;
			position: absolute;
			z-index: -1px;
			visibility: hidden;
			transition: all 0.4s;
            }
        }

		&--animated {
			animation: moveinbottom .5s ease-out .75s;
			animation-fill-mode: backwards;
		}
}
