/* ========= DOCUMENT NAVIGATION ========= */

body {
  font-family: sans-serif;
}

.nav-area {
  display: flex;
  justify-content: space-between;

  padding: 0px;
  margin: 0px;
}

.logo-area {
  display: flex;
}

.logo {
  width: 100px;
  height: auto;

  margin-top: 20px;
  margin-left: 30px;
}

.logo-title {
  margin-top: 45px;
  margin-left: 7px;
}

.encyclopedia {
  margin-top: 90px;
  margin-left: -265px;
}

.nav-buttons {
  display: flex;

  font-size: 25px;

  margin-top: 20px;
}

.nav-buttons button {
  padding: 20px;
  color: black;

  border: none;
  border-radius: 0px;

  background-color: transparent;
}

.nav-buttons button:hover {
  color: peru;
  cursor: pointer;
}

/* ========= SEARCH SECTION ========= */
.search {
  border-bottom: 1px solid lightgrey;
}

.search-area {
  display: flex;
}

.search-bar {
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid black;

  width: 800px;

  padding: 10px;

  margin: 30px 0px 70px 140px;
}

.search-icon {
  font-size: 30px;

  cursor: pointer;

  margin-left: 20px;
}

input:focus::placeholder {
  color: transparent;
}

button {
  border: none;
  background-color: transparent;

  margin-top: -35px;
}

/* ============== MAIN CONTENT ============ */
.info-cover {
  box-sizing: border-box;
  border-bottom: 0.5px dotted lightgrey;
}

p {
  margin-top: -15px;
}

.product_name {
  margin-top: 50px;
  margin-left: 50px;
}

.notice {
  margin-top: 20px;
  margin-left: 50px;
}

.first-line {
  margin-top: 30px;
}

.type {
  display: flex;

  margin-left: 50px;
}

.form {
  margin-left: 15px;
}

.description {
  margin-left: 50px;
}

.description_detail {
  width: 750px;

  margin: 15px 0px 30px 0px;
}
