// COLOURS
$color-primary: #67ef94;
$color-primary-dark: #2dc995;
$color-primary-light: #94f3b4;

$color-grey-dark: #777;
$color-grey-light-1: #F7F7F7;
$color-white: #fff;

// GRIDS
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;  